# Bibliotecas

## Instalações

In [9]:

#!pip install -U scikit-learn
#!pip install seaborn
#!pip install nltk
!pip install wordcloud

Requirement already satisfied: seaborn in c:\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python311\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=1.2 in c:\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\python311\lib\site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

## Importações

In [38]:
import nltk
from nltk import tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import silhouette_samples, silhouette_score, v_measure_score
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

# Análise Exploratória

In [2]:
licitacoes = pd.read_csv('C:\Gabriel\Pos\Classificação Licitômetro\TodasLicitacoes.csv',sep=';')

In [6]:
licitacoes.head(20)

                                    DsObjetoLicitacao
0
1                                                 ...
2           Seleção e contratação de empresa de en...
3              ESTABILIZADOR DE TENSÃO  2.OOO VA
4      Para fornecer água para o setor de educação...
5      Para prestar serviços na paresentação do gr...
6      PRESTAÇÃO DE SERVIÇO NO FORNECIMENTO DE 14 ...
7      Serviço de reprografia preto e branco até a...
8      Solicitação para aquisição de materiais de ...
9      Solicitação para serviço de instalação dos ...
10    Aquisição de 02 (dois) pneus, 01 (uma) pasti...
11    AQUISIÇÃO DE MATERIAIS PARA O USO  NA 3ª UNI...
12    AQUISIÇÃO DE PÃES PARA A MANUTENÇÃO DA MEREN...
13  –  CONSTITUI OBJETO DO PRESENTE CONTRATO A AQU...
14    Contratação dos serviços de farmacêutico, pa...
15    Fornecimento de produto derivado do Petroleo...
16                   GARRAFA TERMICA e  JARRA DE AGUA
17    INSTRUMENTOS EQUIPAMENTOS E SUPRIMENTOS MEDI...
18    LOCAÇÃO DE IMOVEL PARA FUNCIONAMENTO DE CASA...
19    PAVIMENTAÇÃO DE DIVERSAS RUAS NA SEDE E INTE...

In [4]:
print(len(licitacoes))

1515582

# Tratamento de Dados

## Removendo StopWords

In [76]:
palavras_irrelevantes = nltk.corpus.stopwords.words("portuguese")
frase_processada = list()
token_espaco = tokenize.WhitespaceTokenizer()

for opiniao in licitacoes["DsObjetoLicitacao"]:
    nova_frase = list()
    palavras_texto = token_espaco.tokenize(opiniao)
    for palavra in palavras_texto:
        if palavra not in palavras_irrelevantes:
            nova_frase.append(palavra)
    frase_processada.append(' '.join(nova_frase))
    
licitacoes["retirada_stop_words"] = frase_processada

In [77]:
licitacoes.sample(10)

,DsObjetoLicitacao,retirada_stop_words
1354589,Locação de imóvel localizado no Povoado de Ilh...,Locação imóvel localizado Povoado Ilha Camaleã...
1194788,"AQUISIÇÃO DE QUATRO CAIXA DE ISOPOR 165 LTS, P...","AQUISIÇÃO DE QUATRO CAIXA DE ISOPOR 165 LTS, P..."
241307,confeccao de portas,confeccao portas
1425426,Prestação de serviços na locação de uma CAÇAMB...,Prestação serviços locação CAÇAMBA placa polic...
1506310,VALOR EMPENHADO PARA ATENDER A DESPESA COM AQU...,VALOR EMPENHADO PARA ATENDER A DESPESA COM AQU...
459364,Contratação do Show Artístico de “Caviar com R...,Contratação Show Artístico “Caviar Rapadura” a...
660871,LOCAÇÃO DE IMÓVEL SITUADO NA RUA SÃO PAULO N. ...,LOCAÇÃO DE IMÓVEL SITUADO NA RUA SÃO PAULO N. ...
1393333,PRESTAÇÃO DE SERVIÇO COMO SERRALHEIRO EM RECUP...,PRESTAÇÃO DE SERVIÇO COMO SERRALHEIRO EM RECUP...
476169,AQUISIÇAO DE 1000 (HUM MIL) CÁPSULAS PARA CHIB...,AQUISIÇAO DE 1000 (HUM MIL) CÁPSULAS PARA CHIB...
1338639,FORNECIMENTO DE LANCHES PARA OS VACINADORES DA...,FORNECIMENTO DE LANCHES PARA OS VACINADORES DA...

In [50]:
def gerando_bag_of_words_vetorizer(dataset,nome_coluna):
    vectorizer = TfidfVectorizer(max_df=0.5, max_features=50, min_df=2, stop_words='english', use_idf=True)
    bag_of_words = vectorizer.fit_transform(dataset.DsObjetoLicitacao)
  
    
    return vetorizar,bag_of_words

In [63]:
vetorizar,bag_of_words = gerando_bag_of_words_vetorizer(licitacoes,"DsObjetoLicitacao")



pd.DataFrame.sparse.from_spmatrix(
            bag_of_words,
            columns = vetorizar.get_feature_names_out()
       
    )

,01,AO,AQUISIÇÃO,AS,ATENDER,Aquisição,BA,COM,CONTRATAÇÃO,Contratação,...,deste,do,dos,em,empresa,município,na,no,para,serviços
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1515578,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1515579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1515580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1515581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
print(vetorizar.shape)

(1515582, 50)

In [67]:

random_state =42
for num_cluster in range(2,30):
    kmeans = KMeans(n_clusters=num_cluster, init='k-means++', max_iter=100, n_init=1)
    kmeans.fit(bag_of_words)

kmeans.predict(bag_of_words)

array([ 1, 22,  8, ...,  1, 15,  3])

In [68]:
# Exibir os centros dos clusters e as palavras mais importantes em cada cluster
print("Top terms per cluster:")
order_centroids = kmeans.cluster_centers_.argsort()[:, ::-1]

Top terms per cluster:

In [70]:
vetorizer

<1515582x50 sparse matrix of type '<class 'numpy.int64'>'
	with 9079959 stored elements in Compressed Sparse Row format>

In [72]:
terms = vetorizar.get_feature_names_out()
num_clusters = 10
for i in range(num_clusters):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind]),
    print()

# Atribuir rótulos aos clusters
labels = kmeans.labels_

Cluster 0:
 NA
 Município
 DE
 SE
 COM
 serviços
 Aquisição
 SAÚDE
 QUE
 AO

Cluster 1:
 AO
 Municipal
 01
 SE
 deste
 EMPRESA
 QUE
 de
 para
 serviços

Cluster 2:
 na
 DE
 da
 SE
 QUE
 CONTRATAÇÃO
 MUNICIPAL
 em
 SAÚDE
 DAS

Cluster 3:
 DE
 QUE
 no
 SE
 EMPRESA
 AS
 BA
 em
 DESTE
 SAÚDE

Cluster 4:
 AS
 DE
 QUE
 SAÚDE
 em
 AO
 EM
 SE
 EMPRESA
 DESTE

Cluster 5:
 MUNICIPIO
 DAS
 Municipal
 DE
 no
 SAÚDE
 da
 QUE
 Aquisição
 MUNICIPAL

Cluster 6:
 MUNICÍPIO
 MUNICIPIO
 DAS
 da
 no
 SE
 MUNICIPAL
 DE
 SAÚDE
 EMPRESA

Cluster 7:
 CONTRATAÇÃO
 DE
 no
 AS
 SE
 ATENDER
 QUE
 EMPRESA
 DAS
 MUNICIPAL

Cluster 8:
 MUNICIPAL
 CONTRATAÇÃO
 DE
 no
 AS
 SE
 QUE
 AO
 SAÚDE
 EMPRESA

Cluster 9:
 SAÚDE
 DOS
 SE
 empresa
 no
 da
 DE
 AS
 MUNICIPAL
 CONTRATAÇÃO